[gcode_shell_command _BACKUP_SPOOLMAN]
# Realiza una copia de seguridad de la base de datos de Spoolman
command: /home/pi/spoolman_backup/venv/bin/python3 /home/pi/spoolman_backup/backup_spoolman.py
timeout: 30
verbose: True
